header{
    grid-area: cab;
    background-color: blueviolet;
}
aside{
    grid-area: sec;
    background-color: aquamarine;
}
main{
    grid-area: pri;
    background-color: brown;
}
footer{
    grid-area: rod;
    background-color: beige;
}